<h1 style="text-align:center; color:white">Add something interesting, others to read about</h1>
<div class="box">
    <form method="post">
        <table style="height: 200px">
            <tr>
                <td>
                    <label for="heading">Heading</label>
                </td>
                <td width="100px">
                    <input type="text" class="form-control" id="heading" name="heading" placeholder="Must be less than 100 symbols"/>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="description">Description</label>
                </td>
                <td width="300px">
                    <input type="text" class="form-control" id="description" name="description" placeholder="Must be less than 10000 symbols"/>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="pictureUrl">PictureUrl</label>
                </td>
                <td width="300px">
                    <input type="text" class="form-control" id="pictureUrl" name="pictureUrl" />
                </td>
            </tr>

            <tr>
                <td>
                    <p>Submit</p>
                </td>
                <td>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </td>
            </tr>
        </table>
    </form>
</div>

<link rel="stylesheet" href="~/css/Add.css"></link>