<h1 style="text-align:center; color:white">Add new Role</h1>
<div class="box" style="width:300px; height: 150px; margin-left: 600px">
    <form method="post">
        <table style="height: 100px">
            <tr>
                <td>
                    <label for="name">Name</label>
                </td>
                <td>
                    <input type="text" class="form-control" id="name" name="name"/>
                </td>
            </tr>

            <tr>
                <td>
                    <p>Submit</p>
                </td>
                <td>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </td>
            </tr>
        </table>
    </form>
</div>
<link rel="stylesheet" href="~/css/RoleCss/Add.css"></link>
