@model GtRacingNews.ViewModels.Team.AddTeamFormModel

<h1 style="text-align:center; color:white">Add new racing team</h1>
<div class="box">
    <form method="post">
        <table style="height: 200px">

            <tr>
                <td>
                    <label>Name</label>
                </td>
                <td width="100px">
                    <input type="text" class="form-control" id="name" name="name" placeholder="Must be less than 50 symbols"/>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="carModel">CarModel</label>
                </td>
                <td width="300px">
                    <input type="text" class="form-control" id="carModel" name="carModel" placeholder="Must be less than 30 symbols"/>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="logoUrl">LogoUrl</label>
                </td>
                <td width="300px">
                    <input type="text" class="form-control" id="logoUrl" name="logoUrl" />
                </td>
            </tr>

            <tr>
                <td>
                    <label for="championshipName">ChampionshipName</label>
                </td>
                <td>
                    <select name="championshipName" id="championshipName">
                        @foreach(var championship in @Model.Championships)
                        {
                        <option value="@championship.Name">@championship.Name</option>
                        }
                     </select>
                </td>
            </tr>

            <tr>
                <td>
                    <p>Submit</p>
                </td>
                <td>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </td>
            </tr>
        </table>
    </form>
</div>

<link rel="stylesheet" href="~/css/TeamCss/Add.css"></link>