@model GtRacingNews.Areas.Admin.ViewModels.RoleToUserViewModel

<h1>Make user an Admin</h1>
<div class="box">
    <form method="Post">
        <table style="height: 200px">

            <tr>
                <td>
                    <label for="user">User</label>
                </td>
                <td>
                    <select name="user" id="user">
                        @foreach (var user in @Model.Users)
                        {
                            <option value="@user">@user</option>
                        }
                    </select>
                </td>
            </tr>

            <tr>
                <td>
                    <p>Submit</p>
                </td>
                <td>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </td>
            </tr>

        </table>
    </form>
</div>
<link rel="stylesheet" href="~/css/AdminCss/UserToRole.css"></link>