@model List<GtRacingNews.ViewModels.Championship.ViewAllChampionshipsViewModel>

<div class="row">
    @foreach (var championship in Model)
    {
        <div class="card" style="width: 20rem; margin-left: 10px; margin-top: 15px">
            <img src="@championship.LogoUrl" class="card-img-top" style="height: 200px;">
            <div class="card-body">
                <h5 class="card-title"><strong>Name:</strong> @championship.Name</h5>
                <h5 class="card-title"><strong>Teams:</strong> @string.Join(", ", @championship.Teams)</h5>
            </div>
        </div>
    }
</div>
<link rel="stylesheet" href="~/css/All.css"></link>