@model List<GtRacingNews.ViewModels.Driver.ViewAllDriversViewModel>

<div class="row">
    @foreach (var driver in @Model)
    {
        <div class="card" style="width: 18rem; margin-left: 10px; margin-top: 10px">
            <img src="@driver.ImageUrl" class="card-img-top" style="height: 250px; width: 250px">
            <div class="card-body">
                <h5 class="card-title">Name: @driver.Name</h5>
                <h5 class="card-title">Age: @driver.Age</h5>
                <h5 class="card-title">Cup: @driver.Cup</h5>
            </div>
        </div>
    }
</div>
<link rel="stylesheet" href="~/css/All.css"></link>