@model List<GtRacingNews.ViewModels.News.ShowAllNewsViewModel>



@*weather widget start*@
<section style="position:absolute; left: 1250px;">
    <div id="m-booked-bl-simple-week-vertical-5573">
   <div class="booked-wzs-160-275 weather-customize" style="background-color:#137AE9; width:255px;" id="width3 ">
      <div class="booked-wzs-160-275_in">
         <div class="booked-wzs-160-275-data">
            <div class="booked-wzs-160-275-left-img wrz-18"></div>
            <div class="booked-wzs-160-275-right">
               <div class="booked-wzs-day-deck">
                  <div class="booked-wzs-day-val">
                     <div class="booked-wzs-day-number"><span class="plus">+</span>4</div>
                     <div class="booked-wzs-day-dergee">
                        <div class="booked-wzs-day-dergee-val">&deg;</div>
                        <div class="booked-wzs-day-dergee-name">C</div>
                     </div>
                  </div>
                  <div class="booked-wzs-day">
                     <div class="booked-wzs-day-d"><span class="plus">+</span>5&deg;</div>
                     <div class="booked-wzs-day-n"><span class="plus">+</span>1&deg;</div>
                  </div>
               </div>
               <div class="booked-wzs-160-275-info">
                  <div class="booked-wzs-160-275-city">Varna</div>
                  <div class="booked-wzs-160-275-date">Sunday, 06</div>
               </div>
            </div>
         </div>
         <table cellpadding="0" cellspacing="0" class="booked-wzs-table-160">
            <tr>
               <td class="week-day"> <span class="week-day-txt">Monday</span></td>
               <td class="week-day-ico">
                  <div class="wrz-sml wrzs-29"></div>
               </td>
               <td class="week-day-val"><span class="plus">+</span>3&deg;</td>
               <td class="week-day-val"><span class="plus">+</span>1&deg;</td>
            </tr>
            <tr>
               <td class="week-day"> <span class="week-day-txt">Tuesday</span></td>
               <td class="week-day-ico">
                  <div class="wrz-sml wrzs-03"></div>
               </td>
               <td class="week-day-val"><span class="plus">+</span>5&deg;</td>
               <td class="week-day-val">0&deg;</td>
            </tr>
            <tr>
               <td class="week-day"> <span class="week-day-txt">Wednesday</span></td>
               <td class="week-day-ico">
                  <div class="wrz-sml wrzs-01"></div>
               </td>
               <td class="week-day-val"><span class="plus">+</span>5&deg;</td>
               <td class="week-day-val">0&deg;</td>
            </tr>
            <tr>
               <td class="week-day"> <span class="week-day-txt">Thursday</span></td>
               <td class="week-day-ico">
                  <div class="wrz-sml wrzs-03"></div>
               </td>
               <td class="week-day-val"><span class="plus">+</span>2&deg;</td>
               <td class="week-day-val">-2&deg;</td>
            </tr>
            <tr>
               <td class="week-day"> <span class="week-day-txt">Friday</span></td>
               <td class="week-day-ico">
                  <div class="wrz-sml wrzs-01"></div>
               </td>
               <td class="week-day-val"><span class="plus">+</span>1&deg;</td>
               <td class="week-day-val">-3&deg;</td>
            </tr>
            <tr>
               <td class="week-day"> <span class="week-day-txt">Saturday</span></td>
               <td class="week-day-ico">
                  <div class="wrz-sml wrzs-22"></div>
               </td>
               <td class="week-day-val"><span class="plus">+</span>3&deg;</td>
               <td class="week-day-val">-3&deg;</td>
            </tr>
         </table>
         <div class="booked-wzs-center"> <span class="booked-wzs-bottom-l">See 7-Day Forecast</span> </div>
      </div>
   </div>
</div>
</section>
@*weather widget end*@

<div class="row">
    @foreach (var news in @Model)
    {
        <div class="card" style="width: 18rem; margin-left: 10px; margin-top: 10px">
            <img src="@news.ImgUrl" class="card-img-top" style="height:10rem;">
            <div class="card-body">
                <h5 class="card-title">@news.Heading</h5>
                <h5 class="card-title"><a href="/All/NewsDetails?id=@news.Id" class="btn btn-primary">Read...</a></h5>
            </div>
        </div>
    }
</div>

<link rel="stylesheet" href="~/css/All.css"></link>
<script src="~/js/WeatherWidgetJs.js"></script>