    <ul class="list-group" style="margin-left: 1000px;">
        @foreach (var race in Model)
        {
            <li class="list-group-item" style="width: 400px;">@race.Name - @race.Date</li>
        }
    </ul>

<link rel="stylesheet" href="~/css/RaceCss/All.css"></link>