<h1 style="text-align:center; color:white">Login into an account</h1>
<div class="box">
    <form method="post">
        <table style="height: 200px">
            <tr>
                <td>
                    <label for="email">Email</label>
                </td>
                <td width="300px">
                    <input type="text" class="form-control" id="email" name="email"/>
                </td>
            </tr>

            <tr>
                <td>
                    <label for="password">Password</label>
                </td>
                <td>
                    <input type="password" class="form-control" id="password" name="password" />
                </td>
            </tr>

            <tr>
                <td>
                    <p>Submit</p>
                </td>
                <td>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </td>
            </tr>

        </table>
    </form>
</div>

<link rel="stylesheet" href="~/css/Add.css"></link>
